.max-width{
    max-width: 400px;
}
input{
    outline: unset;
}
.border-radius{
    border-radius: 30px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}