
.latest-news__title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #b80a0d;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.latest-news__image {
    max-width: 100%;
}

.latest-post__date{
    font-size: 13px;
    font-style: italic;
    letter-spacing: 0.8px;
}

.latest-post__hr:last-child{
    display: none;
}
