.posts a {
    color: black ;
    text-decoration: none ;
}
.posts a:hover {
    color: rgba(87, 88, 87, 0.83) ;
}
.short-text, .hot-news, .title {
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title {
    font-size: 20px;
}
.short-text, .title {
    -webkit-line-clamp: 3;
}
.hot-news {
    -webkit-line-clamp: 4;
}
@media (min-width: 1250px) {
    .short-text{
        -webkit-line-clamp: 5;
    }
}
@media (max-width: 500px) {
    .title {
        font-size: 15px;
    }
    .date-author {
        font-size: 12px;
    }
}
@media (max-width: 767px) {
    .short-text,.watch-more, .hot-news {
        display: none;
    }
}
@media (max-width: 355px) {
    .date-author {
        display: none;
    }
}