.showroom-title {
    color: #000000;
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 15px 0px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: bolder;
}

.showroom-image {
    overflow: hidden;
    margin: 0 auto;
}

.showroom-image img {
    object-fit: cover !important;
    transition: 0.5s all ease-in-out;
}

@media (max-width: 1575px) {
    .showroom-image img {
        height: 20vw !important;
    }
}

@media (min-width: 1575px) {
    .showroom-image img {
        height: 16vw !important;
    }
}

.showroom-image:hover img {
    transform: scale(1.1);
}

.showroom-block:hover {
    box-shadow: 5px 10px 18px #888888;
}